.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: url("../assets/bus5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.aboutus-content {
  width: 90%;
  box-shadow: 0 0 10px gray;
  height: 80%;
  background-color: aliceblue;
}
.content {
  margin-top: 1rem;
  text-align: center;
  padding: 2rem;
}
.aboutus-content .text1 {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  color: rgb(255, 102, 0);
}

.content{
  font-size: 1.4rem; /* Medium font size for paragraphs */
  line-height: 1.6; /* Increase line height for better readability */
  margin-bottom: 20px; /* Add space below paragraphs */
  color: rgb(104, 104, 104);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
