.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  height: 80%;
  border: dodgerblue;
  color: rgb(0, 162, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.deparr {
  border: solid;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.places {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;

}
.button-container_2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}
.button-container_2 .optbtn{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100px;
  height: 40px;
  align-items: center;
  cursor: pointer;
}
.cancel{
background-color: #ffffff;
color: #ff6600;
font-size: 1rem;
font-weight: bold;
border: none;
border: 1px solid gray;
border-radius: 5px;
}
.pay{
  background-color: #ff6600;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;  
}
.pay:hover{
  background-color: #ffffff;
  color: #ff6600; 
}
.cancel:hover{
  background-color: #ff6600;
  color: #ffffff; 
}
.button-container h2 {
  width: 100%;
  text-align: center;
  color: #ff6600;
}

.close-button {
  border: none;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  color: #ff6600;
  font-weight: bold;
  background-color: antiquewhite;
  font-size: 1rem;
}
.close-button:hover {
 background-color: rgb(255, 106, 0);
 color: #ffffff;
}

.root-list{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  width: 100%;
  align-items: center;
}

.heders {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.root-box {
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  flex-direction: column;
  box-shadow: 0 0 5px gray;
  height: auto;
  gap: 5px;
}


.heders h3 {
  width: 95%;
  background-color: rgb(255, 105, 5);
  text-align: center;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heders .book{
  text-align: center;
  color: rgb(255, 98, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 5%;
  padding: 3px;
  background-color: aliceblue;
  cursor: pointer;
}
.root-box h4 {
  width: 100%;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px gray;
}
.search{
  width: 80%;
}
.search-bar {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  box-shadow: 0 0 5px gray;
  font-size: 1.5rem;
}

.payment-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.payment-modal h2 {
  margin-bottom: 20px;
  color: #ff6600;
  width: 100%;
  text-align: center;
}

.payment-modal input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-modal .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.card_img{
  height: 300px;
  background: url("../assets/card.png") no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}